services:
  stirling-pdf:
    image: docker.stirlingpdf.com/stirlingtools/stirling-pdf:latest
    container_name: stirling-pdf
    volumes:
      - ./StirlingPDF/trainingData:/usr/share/tessdata # Required for extra OCR languages
      - ./StirlingPDF/extraConfigs:/configs
      - ./StirlingPDF/customFiles:/customFiles/
      - ./StirlingPDF/logs:/logs/
      - ./StirlingPDF/pipeline:/pipeline/
    environment:
      - DOCKER_ENABLE_SECURITY=false
      - LANGS=en_GB
      - VIRTUAL_HOST=pdf.reinhardt.ai
      - LETSENCRYPT_HOST=pdf.reinhardt.ai
      - VIRTUAL_PORT=8080
      - DISABLE_ADDITIONAL_FEATURES=false
    networks:
      - reinhardt_net
    restart: on-failure:10
    logging:
      options:
        max-size: "50m"  

networks:
  reinhardt_net:
    external: true

