# Rclone configuration file
# This is a template. The actual values will be replaced at runtime.
# To update the configuration, modify the docker-compose environment variables.

[remote]
type = sftp
host = ${RCLONE_REMOTE_HOST}
user = ${RCLONE_REMOTE_USER}
key_pem = ${RCLONE_SSH_KEY}
key_file =
use_insecure_cipher = false
md5sum_command = none
sha1sum_command = none
skip_links = false
idle_timeout = 0
delete_after = false
set_modtime = true
set_mode = true
set_owner = true
set_group = true
